<div  class="font-bold" styleClass="font-size: 20px">
    <p-breadcrumb  class="font-bold" [style]="{'color': '#000','font-style': 'normal','font-family': 'ui-serif',
        'font-size': 'large', 'background-color': 'rgb(243 243 243)' }" [model]="items" [home]="home"></p-breadcrumb>
</div>
<div class="grid">
    <div class="col-12">
        <p-panel header="Liste des locaux">
            <div class="px-1 py-1">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="localForms()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedLocaux()" [disabled]="!selectedLocaux || !selectedLocaux.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export CSV" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="locaux" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['code','designation','address','type_local','nature_exercise','etat','region.libille']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [(selection)]="selectedLocaux" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0"></h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Chercher..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="designation">Local <p-sortIcon field="designation"></p-sortIcon></th>
                        <th pSortableColumn="region">Région <p-sortIcon field="region"></p-sortIcon></th>
                        <th pSortableColumn="address">Adresse <p-sortIcon field="address"></p-sortIcon></th>
                        <th pSortableColumn="type_local">Type <p-sortIcon field="type_local"></p-sortIcon></th>
                        <th pSortableColumn="nature_exercise">Nature exercice <p-sortIcon field="nature_exercise"></p-sortIcon></th>
                        <th pSortableColumn="etat">Etat <p-sortIcon field="etat"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-local>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="local"></p-tableCheckbox>
                        </td>
                        <td style="min-width:10rem;"><span class="p-column-title">ID</span>
                            {{local.id}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Code</span>
                            {{local.code}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Local</span>
                            {{local.designation}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Région</span>
                            {{local.region.libille}}
                        </td>
                        
                        <td style="min-width:8rem;">
                            <span class="p-column-title">Adresse</span>
                            {{local.adresse}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Type</span>
                            {{local.type_local.designation}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Nature Exercise</span>
                            {{local.nature_exercise.designation}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Etat</span>
                            {{local.etat}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editLocal(local)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(local)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
    </p-panel>

        
        <p-dialog [(visible)]="deleteLocalDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="local">Etes-vous sûr que vous voulez supprimer <b>{{local.designation}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-danger" label="Non" (click)="deleteLocalDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-success"  label="Oui" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteLocauxDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment supprimer les lignes sélectionnées?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-success" label="Non" (click)="deleteLocauxDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Oui" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
