<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedItems()" [disabled]="!selectedTypeLocaux || !selectedTypeLocaux.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="typeLocaux" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['designation']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" [(selection)]="selectedTypeLocaux" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestion des types locaux</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Chercher..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">ID <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Type Local <p-sortIcon field="designation"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-typeLocal>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="typeLocal"></p-tableCheckbox>
                        </td>
                        <td ><span class="p-column-title">ID</span>
                            {{typeLocal.id}}
                        </td>
                        <td >
                            <span class="p-column-title">Type Local</span>
                            {{typeLocal.designation}}
                        </td>
                      
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(typeLocal)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(typeLocal)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="typeLocalDialog" [style]="{width: '500px'}" header="Informations" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="designation" class="font-bold">Type local</label>
                    <input type="text" pInputText id="designation" [(ngModel)]="typeLocal.designation" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !typeLocal.designation}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !typeLocal.designation">Ce champs est requis.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-warning" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-primary" (click)="save()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTypeLocalDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="typeLocal">Etes-vous sûr que vous voulez supprimer <b>{{typeLocal.designation}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-danger" label="Non" (click)="deleteTypeLocalDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-success"  label="Oui" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTypeLocauxDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment supprimer les lignes sélectionnées?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-success" label="Non" (click)="deleteTypeLocauxDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Oui" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
