<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedSchools()" [disabled]="!selectedSchools || !selectedSchools.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export PDF" icon="pi pi-upload" class="p-button-primary  mr-2" (click)="exportToPdf()" [disabled]="!schools.length"></button>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="schools" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedSchools" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gérer les écoles</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Chercher..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nom de l'école <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="address">Adresse <p-sortIcon field="address"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-school>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="school"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{school.id}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">Nom de l'école</span>
                            {{school.name}}
                        </td>
                        
                        <td style="width:20%; min-width:8rem;">
                            <span class="p-column-title">Email</span>
                            {{school.email}}
                        </td>
                        <td style="width:40%; min-width:10rem;">
                            <span class="p-column-title">Adresse</span>
                            {{school.address}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editSchool(school)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteSchool(school)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="schoolDialog" [style]="{width: '500px'}" header="Détails de l'école" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="name">Nom de l'école</label>
                    <input type="text" pInputText id="name" [(ngModel)]="school.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !school.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !school.name">Le nom est requis.</small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" pInputText id="email" [(ngModel)]="school.email" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !school.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !school.email">Email est requis.</small>
                </div>
               
                <div class="field">
                    <label for="address">Adresse</label>
                    <textarea id="address" pInputTextarea [(ngModel)]="school.address" required rows="3" cols="20"></textarea>
                </div>
                <div class="field">
                    <label for="latitude">Latitude</label>
                    <input type="text" pInputText id="latitude" [(ngModel)]="school.latitude" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !school.latitude}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !school.latitude">Latitude est requis.</small>
                </div>
                <div class="field">
                    <label for="longitude">Longitude</label>
                    <input type="text" pInputText id="longitude" [(ngModel)]="school.longitude" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !school.longitude}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !school.longitude">Longitude est requis.</small>
                </div>
                <div>
                    <google-map
                        height="300px"
                        width="480px"
                        [zoom]="zoom"
                        [center]="center"
                        [options]="options" (mapClick)="click($event)">
                        <map-marker
                            *ngFor="let marker of markers"
                                [position]="marker.position"
                                [options]="marker.options"
                            >
                            </map-marker>
                    </google-map>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveSchool()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteSchoolDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="school">Etes-vous sûr que vous voulez supprimer <b>{{school.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-danger" label="Non" (click)="deleteSchoolDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-success"  label="Oui" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteSchoolsDialog" header="Confirmer" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Voulez-vous vraiment supprimer les écoles sélectionnées?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-success" label="Non" (click)="deleteSchoolsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Oui" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
